.mainbody {
  background-color: #0f0e0e;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 90px;
}

.container2 {
  padding: 4rem 2rem 1rem 2rem;
}

.descriptiondiv {
  background-color: #0f0e0e;
  margin: 3rem 3rem 0rem 0rem;
  width: 100%;
  padding-left: 50px;
  padding-right: 30px;
}

.bottomcontainer {
  background-color: #0f0e0e;
  margin: 0rem 3rem 0rem 0rem;
  width: 100%;
  padding-left: 50px;
  padding-right: 30px;
}

.heading1 {
  color: rgba(244, 87, 37, 1);
  background-color: #0f0e0e;
  padding: 0px 0px 10px 0px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  padding-top: 30px;
}

.heading2 {
  color: rgba(244, 87, 37, 1);
  background-color: #0f0e0e;
  padding: 0px 0px 10px 0px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  padding-top: 90px;
  /* padding-left: 90px; */
}

.firstdiv {
  color: white;
  background-color: #0f0e0e;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  padding-right: 40px;
}

.image1 {
  width: 252px;
  height: 141px;
  border-radius: 12px;
}

.underdiv1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.items {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin: 1rem;
  padding: 15px 12px;
  background-color: white;
  border-radius: 12px;
}

.eti {
  width: 100%;
}

.imagediv,
.eti,
h4,
p {
  background-color: transparent;
}

.empowering,
.ep {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.paragraph {
  display: -webkit-box;
  max-width: 98%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
  color: #0f0e0e;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
}

.firstdiv {
  text-align: justify;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.eti {
  margin: 0px 0px 0px 34px;
}

.items {
  margin: 15px 20px 0px 20px;
}

.empowering {
  color: rgba(244, 87, 37, 1);
  margin: 7px 0px 9px 0px;
}

.ep {
  color: #0f0e0e;
  padding-bottom: 15px;
  padding-top: 10px;
}

.items:hover,
.items:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.video_content {
  /* width: 1030px; */
  width: 100%;
  height: 574;
}

.div1 {
  padding-right: 20px;
}

.watchmore {
  padding-bottom: 50px;
}

@media screen and (max-width: 908px) {
  .items .eti {
    margin: 0px 10px 0px 10px;
  }
}

@media screen and (max-width: 896px) {
  .items .eti {
    margin: 0px 5px 0px 5px;
  }
}

@media screen and (max-width: 882px) {
  .items .eti {
    margin: 0px 0px 0px 0px;
  }
}

@media screen and (max-width: 861px) {
  .items {
    display: flex;
    flex-direction: column;
  }

  .items .eti {
    margin: 0px -30px 0px -30px;
  }

  .image1 {
    width: 100%;
  }

  .empowering {
    word-wrap: break-word;
    text-align: center;
  }

  .ep {
    word-wrap: break-word;
    text-align: center;
  }
}

@media screen and (max-width: 746px) {
  .items {
    display: flex;
    flex-direction: column;
  }

  .image1 {
    width: 100%;
  }

  .items .eti {
    margin: 0px 0px 0px 0px;
  }

  .empowering {
    word-wrap: break-word;
    text-align: center;
  }

  .ep {
    word-wrap: break-word;
    text-align: center;
  }
}

@media screen and (max-width: 626px) {
  .items {
    display: flex;
    flex-direction: column;
  }

  .image1 {
    width: 100%;
  }

  .items .eti {
    margin: 0px 0px 0px 0px;
  }

  .empowering {
    word-wrap: break-word;
    text-align: center;
  }

  .ep {
    word-wrap: break-word;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .firstdiv {
    text-align: left;
  }

  .items {
    display: flex;
    flex-direction: column;
  }

  .image1 {
    width: 100%;
  }

  .items .eti {
    margin: 0px -15px 0px -15px;
  }

  .empowering {
    word-wrap: break-word;
    text-align: center;
  }

  .ep {
    word-wrap: break-word;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .items {
    display: flex;
    flex-direction: column;
  }

  .image1 {
    width: 100%;
  }

  .items .eti {
    margin: 0px -80px 0px -80px;
  }

  .empowering {
    word-wrap: break-word;
    text-align: center;
  }

  .ep {
    word-wrap: break-word;
    text-align: center;
  }
}

@media screen and (max-width: 463px) {
  .items {
    display: flex;
    flex-direction: column;
  }

  .image1 {
    width: 100%;
  }

  .items .eti {
    margin: 0px -105px 0px -105px;
  }

  .empowering {
    word-wrap: break-word;
    text-align: center;
  }

  .ep {
    word-wrap: break-word;
    text-align: center;
  }
}

@media screen and (max-width: 445px) {
  .items {
    display: flex;
    flex-direction: column;
  }

  .image1 {
    width: 100%;
  }

  .items .eti {
    margin: 0px -100px 0px -100px;
  }

  .empowering {
    word-wrap: break-word;
    text-align: center;
  }

  .ep {
    word-wrap: break-word;
    text-align: center;
  }
}

@media screen and (max-width: 423px) {
  .items {
    display: flex;
    flex-direction: column;
  }

  .image1 {
    width: 100%;
  }

  .items .eti {
    margin: 0px -120px 0px -120px;
  }

  .empowering {
    word-wrap: break-word;
    text-align: center;
  }

  .ep {
    word-wrap: break-word;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .items {
    display: flex;
    flex-direction: column;
  }

  .image1 {
    width: 100%;
  }

  .items .eti {
    margin: 0px -120px 0px -120px;
  }

  .empowering {
    word-wrap: break-word;
    text-align: center;
  }

  .ep {
    word-wrap: break-word;
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  .items {
    display: flex;
    flex-direction: column;
  }

  .image1 {
    width: 100%;
  }

  .items .eti {
    margin: 0px -150px 0px -150px;
  }

  .empowering {
    word-wrap: break-word;
    text-align: center;
  }

  .ep {
    word-wrap: break-word;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .items {
    display: flex;
    flex-direction: column;
  }

  .image1 {
    width: 100%;
  }

  .items .eti {
    margin: 0px -160px 0px -160px;
  }

  .empowering {
    word-wrap: break-word;
    text-align: center;
  }

  .ep {
    word-wrap: break-word;
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  .items {
    display: flex;
    flex-direction: column;
  }

  .image1 {
    width: 100%;
  }

  .items .eti {
    margin: 0px -170px 0px -170px;
  }

  .empowering {
    word-wrap: break-word;
    text-align: center;
  }

  .ep {
    word-wrap: break-word;
    text-align: center;
  }
}
