@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;500&family=Rubik:wght@300&display=swap");

.regFormPopUp {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* padding: 30px; */
}

.nextBtn {
    width: 300px;
    background-color: #222222;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.fontDets {
    font-family: mulish;
    font-weight: 700;
    font-size: 1.45rem;
}
.prevBtn {
    width: 300px;
    background-color: #222222;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.submitBtn {
    width: 300px;
    background-color: #f45725;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.createteam
{
    font-size: 10px;
    width: 100%;
    
    margin-right: 500px;
    padding-top: 5%;
    padding-bottom: 10%;
} 

label {
    font-family: mulish;
    font-weight: 100;
   
    font-size: 28px;
    color: white;
    margin-left: 15px;
    margin-right: 12px;
}
.verifybtn{
    width: 125px ;
    height: 42px;
    background-color: #f45725;
    margin-left: 30px;
}
.verifybtn {
    font-size: 17px;
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.verifybtn:hover {
    color: #fff;

}

.verifybtn:disabled {
    color: #6c757d;
    background-color: #fff;
    border-color: #6c757d;
}

.message {
    font-size: 20px;
    font-family: mulish;
    margin-left:10px ;
    color: #28a745; /* Change this to the color you want for successful verification */
}

.message-failed {
    font-size: 16px;
    font-family: mulish;
    margin-left:10px ;
    color: #dc3545; /* Change this to the color you want for failed verification */
}

.switch {
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .10s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.jointeam{
    margin-right: 400px;
    padding-top: 5%;
    padding-bottom: 12.5%;
}
input:checked + .slider {
    background-color: #f45725;;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f45725;;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


input::placeholder,
input {
    font-family: mulish;
    font-size: 1.25rem;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: #f45725;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 32px;
    background-color: #0f0e0e;
    
    min-height: 30vh;
    width: 60%;
    padding: 50px;
    overflow-y: auto;
}

.inpField {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 30px;
    margin-bottom: 50px;
    justify-content: center;
}

input {
    padding: 15px;
    border-radius: 13px;
    width: 100%;
    border: rgb(145, 141, 141) solid 1px;
}

.inputField {
    width: 90%;
}

.inpField>label {
    /* margin-bottom: 20px; */
    /* font-size: 1.7rem; */
}

.radioLabel {
    margin-right: 20%;
}

.radioInp {
    width: unset;
    margin: 0;
    margin-right: 7px;
}

.radioDiv {
    display: flex;
    align-items: center;
    gap: 60px;
    line-height: 0px;
    flex-flow: row wrap;
}

.radioDiv div {
    align-items: center;
    display: flex;
}

.btns {
    display: flex;
    justify-content: space-between;
}