@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main{
    background-image: url("../../../assets/Omega/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.image{
    display: flex;
    justify-content: center;
}

.image img{
    width: 500px;
    padding-top: 125px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-left: -100px;
    cursor: pointer;
}

.buttonText, .buttonImage{
    background-color: white;
}

.buttonText{
    color: #BB1F00;
    font-weight: bolder;
    font-family: "Poppins";
    padding: 10px 20px 10px 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: x-large;
    display: flex;
    align-items: center;
}

.buttonImage{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.buttonImage img{
    height: 60px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 60px;
}

@media screen and (max-width:500px) {
    .main{
        width: 200%;
        background-size: cover;
    }
}