.desktopNav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  z-index: 3;
  background-color: #0f0e0e;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  z-index: 3;
  background-color: #0f0e0e;
  left: 0;
}

.navmDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  margin: 20px 40px;
}

#NewDiv {
  position: relative;
  top: -19px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.ArrowDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavArrow {
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 2.99227px 2.99227px 0px 0px;
  transform: rotate(-45deg);
}

#NavNewPtag {
  margin-top: 20px;
  color: #f45725;
  width: 100%;
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 4px, 0);
  }
}

.LogoFED {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin-left: 20px;
  font-size: 30px;
  line-height: 36px;
  text-shadow: 1px 0px 0.496831px #f45725;
}

.LogoDiv {
  display: flex;
}

.LogoDiv img {
  width: 40px;
  height: 40px;
}

.listDiv {
  width: 70%;
}

#NavUl {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 100px;
}

#NavUl li {
  font-family: "Manrope", sans-serif;
  list-style-type: none;
  font-size: 20px;
  line-height: auto;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.liTag {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.liTag:hover {
  color: #f45725;
}

.profile_img {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -6px;
}
@media (max-width: 1024px) {
  .listDiv {
    width: 120%;
  }
}
@media (max-width: 900px) {
  .listDiv {
    width: 190%;
  }
  #NavUl {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  #NavUl li,
  #NavNewPtag {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  #NavUl li {
    font-size: 12px;
  }
}

@media only screen and (max-width: 650px) {
  .desktopNav {
    display: none;
  }
}
