.mobileNav {
  display: none;
  background-color: #1e1e1e;
}

#blank,
#mobileNavList,
.mobileNavClass {
  display: none;
}

.Cross {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #1e1e1e;
  font-size: 24px;
  margin-top: -7px;
  transition: all 0.3s;
  font-family: "Manrope", sans-serif;
  font-weight: 900;
}

@media only screen and (max-width: 650px) {
  .mobileNav {
    width: 100%;
    position: fixed;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  #mobileNavCon {
    margin: 10px 20px;
    width: 100%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s;
  }

  .hamburger p {
    background-color: transparent;
    font-size: 24px;
    margin-top: -7px;
    transition: all 0.3s;
  }

  #bur1,
  #bur2,
  #bur3 {
    border-radius: 5px;
    background-color: #fff;
    height: 2px;
  }

  #bur1 {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 5px;
  }

  #bur2 {
    width: 75%;
    margin-bottom: 5px;
  }

  #bur3 {
    width: 50%;
  }

  .LogoDiv,
  .LogoDiv img,
  .LogoFED {
    background-color: transparent;
  }

  .LogoDiv img {
    width: 28px;
    height: 28px;
  }

  .LogoFED {
    font-size: 24px;
    line-height: 28.44px;
  }

  .NavNewMobo {
    margin: 7px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .NavMoboArrow {
    width: 7px;
    height: 7px;
    border-style: solid;
    border-width: 1.99227px 1.99227px 0px 0px;
    transform: rotate(-135deg);
  }

  .NavNew {
    color: #f45725;
    margin-top: -7px;
    margin-left: 5px;
  }

  #newEvent {
    animation: bounceMobo 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes bounceMobo {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(8px, 0, 0);
    }
  }

  .mobileNavClass {
    background-color: #0f0e0e;
    font-family: "Manrope", sans-serif;
    position: fixed;
    top: 48px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    transition-delay: 0.3s;
    z-index: 3;
  }

  #mobileNavList {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }

  #blank {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }

  #navtoggleDiv {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .mobileNavListChild {
    margin-left: 10%;
    margin-top: 30px;
    width: 80%;
    align-items: center;
  }

  .liTag {
    font-weight: 700;
    margin-bottom: 30px;
  }

  .mobileList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobileListProfile {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobileListProfile .username {
    margin-top: 140px;
    position: absolute;
  }

  .profile_img {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    box-shadow: 1px 0px 0.496831px #f45725;
  }
}
