.alert-mDiv {
  width: 250px;
  font-family: "Manrope", sans-serif;
}

.alert-container {
  display: flex;
}

.symbol-container {
  width: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol {
  font-size: 1.75rem;
}

.description-container {
  font-size: 1.05rem;
  margin: 15px 20px;
  width: 100%;
}

.description-title {
  font-weight: 700;
}

.symbol-close-link {
  cursor: pointer;
}

.colorIcon {
  color: #000;
}
