@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

.memberBackground {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: #FFFFFF;

}

.mainbox {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    width: 100%;
}

.memberLeft {
    padding-top: 162px;
    display: flex;
    flex-direction: column;
    width: 26.2%;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 3px solid #808080;
    margin-top: 44px;
    margin-bottom: 119px;
    padding: 0 62px 62px 62px;
    width: 100%;
    padding-bottom: 200px;
}

.dashboardTop {
    padding-top: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dashboardTop h1,
h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 26.0215px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #999999;
}

.dashboardTop h2 {
    display: none;
}

.profilePic img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-top: 27px;
}

.Position .name {
    margin-top: 17px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.005em;
    color: #EFEFEF;
}

.Position .position {
    margin-top: 9px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.005em;
    color: #999999;
}

.dashboardBottom {
    margin-top: 51px;
    width: 100%;

    display: flex;
    flex-direction: column;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 22.0914px;
    line-height: 21px;
    letter-spacing: 0.005em;
}

.registrationStats {
    margin-bottom: 34px;
}

.registrationStats,
.logout {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.dashboardBottom img {
    margin-right: 23px;
}

.memberRight {
    background-image: url(../../../Img/Rectangle24.jpg);
    background-size: cover;
    width: 73.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 162px;
}

#profile {
    color: #ffffff;
    font-family: rubik;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding-bottom: 27px;
    margin-left: 30px;
}

.dets1,
.vals1 {
    font-family: "Rubik", sans-serif;
    font-size: 28px;
    padding: 20px;
    padding-left: 0;
    margin-bottom: 30px;
}

@media (max-width: 1300px) {
    .memberRight {
        width: 67%;
    }

    .memberLeft {
        width: 33%;
    }
}

@media (max-width: 1155px) {
    .memberRight {
        width: 64%;
    }

    .memberLeft {
        width: 36%;
    }

    .memberLeft,
    .memberRight {
        padding-top: 130px;
    }
}

@media (max-width: 1000px) {

    .dashboardTop h1,
    h2 {
        font-size: 25px;
    }

    .Position .name {
        font-size: 26px;
    }

    .dashboardTop img {
        height: 180px;
        width: 180px;
    }

    .dashboardBottom {
        font-size: 20px;
    }

    .memberRight {
        width: 63%;
    }

    .memberLeft {
        width: 37%;
    }

    .memberLeft,
    .memberRight {
        padding-top: 100px;
    }

    .proHeading {
        width: 60%;
        font-size: 30px;
    }

    .dets1,
    .vals1 {
        font-size: 24px;
    }

}


@media (max-width: 880px) {
    .memberRight {
        align-items: center;
        justify-content: center;
        width: 67%;
        padding-bottom: 60px;
    }

    .Position .name,
    .dashboardBottom {
        font-weight: 500;
    }

    .memberLeft {
        width: 33%;
    }

}


@media (max-width : 830px) {
    .dashboard {
        padding-right: 40px;
        padding-left: 40px;
    }

    .profilePic img {
        width: 50px;
        height: 50px;
    }

    .dashboardTop h1,
    h2 {
        font-size: 20px;
    }

    .Position .name {
        font-size: 20px;
        font-weight: 400;
    }

    .dashboardBottom p {
        display: none;
    }

    .memberLeft {
        width: 28%;
    }

    .memberRight {
        width: 72%;
    }

    .dets1,
    .vals1 {
        font-size: 22px;
    }
}

@media (max-width: 690px) {

    .proHeading {
        width: 80%;
    }

    .memberRight {
        padding: 40px 0;
    }

    .memberLeft {
        padding-top: 40px;
    }
}

@media (max-width:650px) {
    .dashboardTop h1 {
        display: none;
    }

    .dashboardTop h2 {
        display: block;
    }

    .memberLeft {
        width: 20%;
    }

    .dashboard {
        padding-left: 25%;
        padding-right: 25%;
    }

    .memberRight {
        width: 80%;
    }

    .memberLeft,
    .memberRight {
        padding-top: 0px;
    }
}

@media(max-width : 575px) {

    .dashboardTop h1,
    h2 {
        font-size: 16px;
    }

    .proHeading {
        padding-bottom: 40px;
        width: 70%;
    }

    .Position .name {
        font-size: 16px;
        font-weight: 400;
    }

    .headInnerText {
        font-size: 23px;
    }

    .dets1,
    .vals1 {
        font-size: 19px;
        padding: 15px 15px 15px 0;
    }

    .memberRight {
        justify-content: flex-start;
    }
}

@media (max-width: 482px) {
    .memberLeft {
        width: 17%;
    }

    .memberRight {
        width: 83%;
    }

    .dashboardTop img {
        width: 40px;
        height: 40px;
    }

    .dashboardTop h1,
    h2 {
        font-size: 13px;
    }

    .Position .name {
        font-size: 13px;
        font-weight: 400;
    }

    .headInnerText {
        font-size: 20px;
    }

    .dets1,
    .vals,
    .vals1 {
        font-size: 16px;
    }

    .dashboard {
        padding-left: 15%;
        padding-right: 15%;
    }

    .memberRight {
        padding: 10px 0 40px 0;
    }

    .proHeading {
        padding-bottom: 30px;
    }
}

@media (max-width: 394px) {
    .memberRight {
        padding: 10px 10px 40px 15px;
    }
}

@media (max-width: 348px) {
    .memberRight {
        padding: 10px 0 30px 15px;
    }
}

@media (max-width: 298px) {
    .proHeading {
        font-size: 22px;
    }

    .vals,
    .vals1,
    .dets1 {
        font-size: 14px;
        padding: 15px;
    }
}

/* Registration css */

.registrationsTop h1 {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 40px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.registrationsBottom {
    margin-top: 91px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.registrationsBottom th {
    padding: 28px 45px;
    font-family: 'Manrope';
font-weight: 600;
font-size: 21.1512px;
line-height: 29px;
}