@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');


.addevent{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    padding-left: 100px;
}
.addevent input{
    margin-bottom: 44px;
    padding: 10px 0px;
    border-bottom: 2px solid #808080;
    color: white;
}
.addevent input::placeholder{
    color: white;
    font: 'Mulish';

}
.addevent .inp_btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;

}
.addevent_submit_btn{
    padding: 5px 10px;
    width: 90px;
    border-radius: 20px;
    background-color: #f45725;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.addevent_date{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addevent_date input{
    width: 36%;
}
.addevent form{
    width: 60%;
}

.event_poster{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #808080;
    margin-bottom: 44px;
}
.event_poster input{
    display: flex;
    align-items: center;
    border-bottom: none;
    margin: 10px 0px;
}
.event_poster button{
    background-color: transparent;
    border: 1px solid #f45725;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}