.fullPage {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details {
  width: 100%;
  max-height: 800px;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 25px;
}

.details::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.2rem;
}

.gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: fl;
  bottom: -100px;
  height: 300px;
  width: 100%;
  background: linear-gradient(0deg, #0e0e0e 49.48%, rgba(14, 14, 14, 0) 100%);
}
.btns button {
  cursor: pointer;
}

.eventDesc,
.eventName,
.moreDetails,
.forms,
.btns {
  width: 100%;
}

.eventName {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.eventName img {
  width: 204.861px;
  margin-right: 43.14px;
}

.eventName h1 {
  color: #d9d9d9;
  font-size: 50px;
  font-family: Mulish;
  font-weight: 600;
}

.eventDesc {
  border-radius: 10px;
  border: 1px solid #808080;
  padding: 17px;
  color: #fff;
  font-size: 24px;
  font-family: Mulish;
  font-weight: 600;
  line-height: 161%;
  margin-bottom: 40px;
}

.moreDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.date,
.regType {
  color: #d9d9d9;
  font-size: 30px;
  font-family: Mulish;
  font-weight: 600;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 800px;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.form {
  border-radius: 10px;
  border: 1px solid #808080;
  padding: 22px 41px;
  width: 100%;
  text-align: center;
  height: auto;
  font-size: 30px;
  font-family: Mulish;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  box-sizing: border-box;
  overflow: scroll;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  white-space: nowrap;
}

.form::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.form:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff;
  transition: 0.2s linear;
}
.btns {
  /* display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    bottom: 52px;
    z-index: +1; */
}
.edit,
.delete {
  color: #fff;
  font-size: 24.891px;
  font-family: Mulish;
  font-weight: 600;
  padding: 7px 20px;
  border-radius: 6px;
  background: #f45725;
  border: none;
  margin-top: 40px;
  margin-bottom: 20px;
  float: right;
  font-size: 18px;
  height: 50px;
  width: 120px;
  min-width: 120px;
}
.edit {
  margin-right: 5px;
  margin-left: 15px;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0e0e0e;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 80%;
  width: 400px;
  box-shadow: 0 6px 6px 0 black, 0 6px 10px 0 white;
  /* backdrop-filter: blur(5px); */
}

.slide-from-top {
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
  }
}

.modal h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 10px;
}

.modal p {
  font-size: 1rem;
  margin-bottom: 20px;
  padding-left: 10px;
}
.modal div {
  margin: 8px;
}
.modal div label {
  width: auto;
}
.modal div span {
  font-weight: bold;
}
.modal div div {
  display: flex;
  justify-content: start;
}

.modbtns {
  margin-left: 20px;
  height: 50px;
  min-width: 120px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal button {
  margin: 5px;
  font-size: 16px;
  background-color: #f45725;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 550;
  height: 40px;
  min-width: 120px;
}

.close {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  font-size: 35px;
  color: #f45725;
}

/* Toggle switch */
.modbtns .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: 30px;
}

.modbtns .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.modbtns .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 24px;
}

.modbtns .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.modbtns .switch input:checked + .slider {
  background-color: #f45725;
}

.modbtns .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Alert box */
.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-weight: 800;
  background-color: #f45725;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 999;
  animation: slideIn 0.5s ease-in-out, fadeOut 3s 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .fullPage {
    margin-left: -30px;
  }
  .details {
    padding-right: 10px;
  }

  .btns button {
    cursor: pointer;
  }

  .eventDesc,
  .eventName,
  .moreDetails,
  .forms,
  .btns {
    width: 100%;
  }

  .eventName {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .eventName img {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 0px;
  }

  .eventName h1 {
    font-size: 30px;
  }
  .eventDesc {
    border-radius: 10px;
    border: 1px solid #808080;
    padding: 10px;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 20px;
  }

  .moreDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .date,
  .regType {
    font-size: 18px;
    padding: 5px;
  }

  .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 9px;
  }

  .form {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    white-space: normal;
  }

  .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: -5px;
  }
  .edit,
  .delete {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    height: 50px;
    width: 80px;
    min-width: 80px;
  }
}

/* Modal Responsive*/
@media (max-width: 768px) {
  .modal {
    max-width: 90%;
    width: auto;
    padding: 15px;
  }

  .modal h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 10px;
  }

  .modal p {
    font-size: 20rem;
  }
  .modal button {
    padding: 8px 15px;
    font-size: 0.9rem;
    margin-top: 5px;
    height: 50px;
    min-width: 80px;
  }

  .modbtns {
    margin-left: 20px;
    height: 50px;
    min-width: 130px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .modal div {
    margin: 4px;
    margin-bottom: 15px;
  }

  .switch {
    margin-right: 0px;
    left: 0px;
  }

  .close {
    top: 3px;
    right: 15px;
    font-size: 25px;
  }

  .modbtns .switch {
    min-width: 50px;
  }
}
