#MyProfile {
  padding-top: 106px;
  background-color: black;
  color: black;
  font-family: mulish;
  font-size: 30px;
}
#logo-white {
  font-family: rubik;
  position: relative;
  font-style: normal;
  text-shadow: 1px 0.496831px 1px #f45725;
  top: 116px;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.signup-card {
  position: relative;
  top: 159.8px;
  color: black;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  background-color: white;
  border-radius: 30px;
  width: 486.9px;
  height: 608.4px;
  padding: 77.5px 56.7px;
}
.font-generic {
  font-family: Mulish;
  font-style: normal;
  color: black;
  text-align: center;
  font-size: 13.5px;
}
.whiteclass {
  position: absolute;
  top: 36.9px;
  left: 164.8px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 27px;
  color: #000;
  line-height: 34px;
  letter-spacing: 0.05em;
}
.blackclass {
  position: absolute;
  top: 74.7px;
  left: 163.4px;
  font-size: 13.5px;
  color: black;
  font-weight: 400;
  line-height: 17px;
}
.signup-with {
  position: absolute;
  top: 132.3px;
  left: 56.7px;
  right: 57.6px;
  border: 0.9px solid black;
  border-radius: 10.8px;
  padding: 12px;
  font-weight: 300;
  padding-left: 40px;
  line-height: 17px;
}
.logo {
  position: absolute;
  top: 11.6px;
  left: 109.8px;
}
.p1 {
  position: absolute;
  top: 197.1px;
  left: 235.8px;
  font-weight: 300;
  font-size: 13.5px;
  line-height: 17px;
}
.p2 {
  position: absolute;
  top: 513.9px;
  left: 164.7px;
  font-weight: 300;
  line-height: 17px;
}
.p2 span {
  color: black;
  font-weight: 400;
}
.inputs {
  position: absolute;
  line-height: 17px;
  left: 80.1px;
  text-align: left;
  background-color: transparent;
  outline: none;
  border: none;
}
.inputs::placeholder {
  font-weight: 300;
  font-size: 13.5px;
  font-family: Mulish;
  font-style: normal;
  color: black;
  text-align: left;
}
.in1 {
  top: 228.6px;
}
.in2 {
  top: 280.8px;
}
.in3 {
  top: 327.6px;
}
.in4 {
  top: 379.8px;
}

.hrs {
  margin-top: 3px;
  position: absolute;
  width: 359.1px;
  border: 1px solid #000000;
}
.hr1 {
  top: 253.35px;
}
.hr2 {
  top: 305.1px;
}
.hr3 {
  top: 357.3px;
}
.hr4 {
  top: 409.5px;
}
.container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.signup-div {
  /* padding-top:30.8px; */
  margin: 0;
}

.submit-btn {
  position: absolute;
  top: 454.5px;
  /* font-weight: 600; */
  font-size: 19.8px;
  line-height: 25px;
  background-color: black;
  color: white;
  padding: 7.2px 150.05px;
  border-radius: 7.2px;
}
.padding {
  padding-top: 251.8px;
}
.error1 {
  color: red;
  font-size: 12.8px;
  padding-top: 40px;
}
.error2 {
  color: red;
  font-size: 12.8px;
  padding-top: 36.5px;
}
.error3 {
  color: red;
  font-size: 12.8px;
  padding-top: 38px;
}
.error4 {
  color: red;
  font-size: 12.8px;
  padding-top: 40px;
}
.formsubmission {
  position: relative;
  background-color: #f45725;
  color: #000;
  width: 180px;
  height: 40px;
  font-size: 15.3px;
  margin-left: 100px;
  margin-top: 430px;
  text-align: center;
  align-items: center;
  border-radius: 2%;
  padding: 9px;
  box-shadow: 0 8px 8px -4px;
}

@media (max-width: 510px) {
  #MyProfile {
    padding-top: 3%;
  }
  .padding {
    padding-top: 80%;
  }
  .signup-card {
    padding: 0px 20px;
    width: 85vw;
    height: 120vw;
    box-sizing: border-box;
  }
  #logo-white {
    font-size: 40px;
  }
  .font-generic {
    text-align: center;
    font-size: 11.8px;
  }
  .whiteclass,
  .blackclass,
  .signup-with,
  .logo,
  .p1,
  .p2,
  .inputs .hrs,
  .submit-btn {
    display: relative;
    text-align: center;
  }
  .whiteclass {
    font-size: 22px;
    left: 20%;
    right: 20%;
    top: 8%;
  }
  .blackclass {
    top: 18%;
    left: 10%;
    right: 10%;
    text-align: center;
  }
  .logo {
    top: 22%;
    left: 15%;
  }
  .signup-with {
    padding-top: 3%;
    padding-bottom: 3%;
    top: 25%;
    left: 13%;
    right: 13%;
  }
  .p1 {
    top: 34%;
    left: 50%;
  }
  .hrs {
    width: 70%;
    left: 14%;
    right: 14%;
    margin-top: 2%;
  }
  .inputs {
    text-align: left;
    left: 16%;
  }
  .inputs::placeholder {
    font-size: 11.8px;
    text-align: left;
  }
  .in1 {
    top: 40%;
  }
  .hr1 {
    top: 43%;
    /* margin-bottom: 10px; */
  }
  .in2 {
    top: 49%;
  }
  .hr2 {
    top: 52%;
  }
  .in3 {
    top: 58%;
  }
  .hr3 {
    top: 61%;
  }
  .in4 {
    top: 67%;
  }
  .hr4 {
    top: 70%;
  }
  .submit-btn {
    top: 79%;
    left: 14%;
    right: 14%;
    font-size: 15px;
    padding: 0.5% 10%;
  }
  .p2 {
    top: 89%;
    left: 10%;
    right: 10%;
    text-align: center;
  }
}

.fname {
  margin-top: 105px;
  height: 55px;
}

.lname {
  height: 50px;
}

.email {
  height: 50px;
}

.password {
  height: 50px;
}
