
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500&display=swap');
#MyProfile {
    padding-top:200px;
    background-color:black;
    color: black;
    font-family: mulish;
    font-size: 30px;
}
#logo-white {
    position: relative;
    top: 116px; 
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.signup-card {
    position: relative;
    top:203.8px;
    color: black;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background-color: white;
    border-radius: 30px;
    width: 486.9px;
    height: 608.4px;
    padding: 77.5px 56.7px;
}
.whiteclass {
    position: absolute;
    top: 36.9px;
    left: 154.8px;
    right: 181.1px;
    font-size: 27px;
    margin: 0;
    padding: 0;
    color: black;
}
.blackclass {
    position: absolute;
    top:74.7px;
    left:167.4px;
    font-size: 13.5px;
    color: black;
    font-size: 17px;
}
.signup-with {
    position: absolute;
    top:132.3px;
    font-size: 13.5px;
    color: black;
    font-size: 17px;
}
.container {
    margin:0;
    width:100%;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.signup-div {
    /* padding-top:30.8px; */
    margin: 0;
}
.input-padding {
    margin: 0;
    padding-left:7.2px;
    padding-right:7.2px;
}
.signup-card input {
    /* font-family: mulish; */
    font: 17px mulish;
    background-color: transparent;
    outline: none;
    border: none;
}
.submit-btn {
    background-color: black;
    font-family: Mulish 500;
    font-size: 25px;
    padding: 7.2px 145px;
    color: white;
}