* {
  margin: 0px;
  padding: 0px;

  color: #fff;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.alumni {
  background-color: black;
}
.main_body {
  height: fit-content;
  padding: 1rem 0px 0rem 0px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ouralumni {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* background: transparent; */
  margin-bottom: 0%;
  margin-top: 15%;
}
.para1,
.para2 {
  width: auto;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
}
.para3 {
  color: #fff;
}
.para2 {
  color: #f45725;
}
.box {
  /* border: 1px solid black; */
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  display: inline-block;
  /* margin-left: 200px; */
  background-color: black;
}
.box1 {
  /* display: inline-block; */
  /* border: 1px solid red; */
  padding: 0rem 0rem;
  vertical-align: middle;
  padding-left: 9rem;
  padding-right: 0px;
}
.image1 {
  width: 346px;
  height: 424px;
}
