@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Manrope:wght@700&family=Open+Sans:wght@500&family=Rubik:wght@500&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Manrope:wght@700&family=Open+Sans:wght@500&family=Rubik:wght@500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Manrope:wght@700&family=Open+Sans:wght@500&family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Manrope:wght@700&family=Open+Sans:wght@500&family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans:wght@500&family=Rubik:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;

  color: #fff;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.alumni {
  background-color: black;
}
.main_body {
  height: fit-content;
  padding: 1rem 0px 0rem 0px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}
.ouralumni {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* background: transparent; */
  margin-bottom: 0%;
  margin-top: 15%;
}
.para1_,
.para2_ {
  width: auto;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
}
.para3_ {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  text-align: center;
  align-items: center;
}
.para2_ {
  color: #f45725;
}
.bottomcontainer_ {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 40px calc((100% - (600px * 2)) / 2);

  /* padding-left: 230px;
  padding-right: 230px; */
}
.box_ {
  height: 100px;
  flex: 0 0 215px;
  padding-bottom: 500px;

  padding-left: 40px;
  padding-right: 40px;
  /* margin: 20em 20px; */
  /* border: 1px solid black; */
  /* margin: 1rem;
  padding: 1rem; */
  /* text-align: center; */

  /* display: inline-block; */
  /* margin-left: 200px; */
  background-color: black;
  /* justify-content: center; */
}
.box1_ {
  /* display: inline-block; */
  /* border: 1px solid red; */
  padding: 0rem 0rem;
  vertical-align: middle;
  /* padding-left: 9rem;
  padding-right: 0px; */
}
.image_1 {
  width: 346px;
  height: 424px;
  position: relative;
}
.child_ {
  background-image: url(image/Rectangle74.png);
  width: 310px;
  height: 167px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 1px;
  margin-left: 15px;
  margin-top: -190px;
  position: absolute;

  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.heading_1 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  padding-bottom: 5px;
}
.child_ h3 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.child_ p {
  padding-top: 2px;
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  word-spacing: -2px;
  /* white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; */
  text-align: justify;
}
