@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;500&family=Rubik:wght@300&display=swap");
.signupErrDiv {
  font-size: 14px;
}

.mDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://uploads-ssl.webflow.com/629d87f593841156e4e0d9a4/63aeb74c910c7070ebca8b75_image-23.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}

.glassDiv {
  margin-top: 221px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 24px;
  padding: 15px 70px 44px 70px;
  width: 60%;
  max-width: 44%;
  margin-bottom: 48px;
}

.FED {
  text-align: center;
  font-family: rubik;
  font-style: normal;
  text-shadow: 1px 0.496831px 1px #f45725;
  font-size: 48px;
  font-weight: 700;
}
.wFFFDiv {
  margin-top: 30.8px;
  padding: 30px 57px;
  padding-bottom: 77.5px;
  background-color: white;
  border-radius: 16.2px;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.helloDiv {
  color: black;
  font: 27px mulish;
  font-weight: 600;
}

.plsDiv {
  margin-top: 3.8px;
  color: black;
  font: 13.5px mulish;
  font-weight: 300;
}
.googleDiv {
  margin-top: 40.6px;
  border: 1px solid black;
  width: 100%;
  border-radius: 10.8px;
  padding: 12.8px;
  cursor: pointer;
}
.googleText {
  text-align: center;
  color: black;
  font: 13.5px mulish;
  font-weight: 300;
}
.OrText {
  margin-top: 22.5px;
  text-align: center;
  color: black;
  font: 13.5px mulish;
  font-weight: 300;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.9px;
  width: 100%;
}
input {
  width: 100%;
  margin-top: 24.6px;
  padding: 10.6px 23.2px;
  background-color: transparent;
  outline: none;
  border: none;
  color: black;
  border-bottom: 1px solid black;
}
input::placeholder {
  font-weight: 300;
  font-size: 0.938rem;
  font-family: Mulish;
  font-style: normal;
  color: black;
  text-align: left;
}
.hrs {
  width: 100%;
  height: 1px;
}
.btn {
  width: 100%;
  margin-top: 42.15px;
  padding: 7.3px;
  border-radius: 7.3px;
  border: black;
  background-color: black;
  font: mulish 19.8px;
  font-size: 19.8px;
  cursor: pointer;
}
.member {
  margin-top: 19.8px;
  font-family: Mulish;
  color: black;
  font-size: 13.5px;
}
.member span {
  color: black;
  font-weight: 600;
}
.spn {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.063rem;
  color: black;
  text-decoration: none;
}
.spn:after {
  content: "";
  width: 0;
  height: 3px;
  background-color: blue;
  display: flex;
  margin-left: 120px;
  transition: 0.3s;
}
.spn:hover:after {
  width: 25%;
  transition: width 0.3s linear;
}
.spn:hover {
  color: blue;
}

.year {
  width: 100%;
  margin-top: 24.6px;
  color: black;
  padding: 10px;
  border: 2px solid black;
}
.year option {
  color: black;
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .glassDiv {
    width: 50%;
    max-width: 50%;
  }
}
@media (max-width: 1000px) and (min-width: 800px) {
  .glassDiv {
    width: 60%;
    max-width: 60%;
  }
}
@media (max-width: 800px) and (min-width: 760px) {
  .glassDiv {
    width: 65%;
    max-width: 65%;
  }
}
@media (max-width: 760px) and (min-width: 530px) {
  .glassDiv {
    width: 70%;
    max-width: 70%;
    padding: 15px 40px 40px 40px;
  }
}
@media (max-width: 530px) {
  .glassDiv {
    width: 80%;
    max-width: 80%;
    padding: 15px 40px 40px 40px;
  }
  .wFFFDiv {
    margin-top: 30.8px;
    padding: 35px 35px;
  }
}
@media (max-width: 400px) {
  .glassDiv {
    width: 100%;
    max-width: 100%;
    padding: 15px 40px 40px 40px;
  }
  .wFFFDiv {
    margin-top: 30.8px;
    padding: 30px 30px;
  }
}
