.bg {
  background-image: url("../../Img/image-23.png");
  height: 90vh;
  text-align: center;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  transition: all 0.3s;
  z-index: 0;
  overflow: hidden;
}

.bg:hover > .cycle_image {
  transform: translateX(45%);
}

.bg:hover > .ErrorPageOverlayDiv .OverlayDivCenter {
  transform: translateX(-20%);
}

.ErrorPageOverlayDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 100%;
  z-index: 1;
}

.OverlayDivCenter {
  transform: translateX(0%);
  margin-bottom: 50px;
  padding: 50px 80px;
  width: 60%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  transition: all 0.3s;
}

.oops {
  font-family: "Montserrat", sans-serif;
  font-size: 88px;
  color: aliceblue;
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.notfound {
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  color: #f45725;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}

.the_page {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  color: aliceblue;
  text-align: center;
  align-items: center;
  padding-top: 40px;
}

.cycle_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  transform: translateX(22%);
  transition: all 0.3s;
  z-index: -1;
}

@media only screen and (max-width: 1030px) {
  .bg {
    overflow-x: hidden;
  }

  .cycleimage {
    height: 60%;
    width: 60%;
  }
  .OverlayDivCenter {
    width: 70%;
  }
  .oops {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 74px;
  }

  .notfound {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 35px;
  }

  .the_page {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 18px;
  }
}

@media only screen and (max-width: 890px) {
  .bg {
    overflow-x: hidden;
  }

  .cycleimage {
    height: 60%;
    width: 60%;
  }
  .OverlayDivCenter {
    width: 70%;
  }
  .oops {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 68px;
  }

  .notfound {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 30px;
  }

  .the_page {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 18px;
  }
}
@media only screen and (max-width: 650px) {
  .bg:hover > .cycle_image {
    transform: translate(20%, 23%);
  }

  .bg:hover > .ErrorPageOverlayDiv .OverlayDivCenter {
    transform: translateY(-30%);
  }

  .OverlayDivCenter {
    width: 80%;
  }
  .oops {
    font-size: 55px;
  }

  .notfound {
    font-size: 25px;
  }

  .the_page {
    font-size: 18px;
  }
}
@media only screen and (max-width: 400px) {
  .bg:hover > .cycle_image {
    transform: rotate(90deg) translate(70%, 0%);
  }

  .bg:hover > .ErrorPageOverlayDiv .OverlayDivCenter {
    transform: translateY(-45%);
  }

  .OverlayDivCenter {
    width: 80%;
  }
  .oops {
    padding-bottom: 0.5%;
    font-size: 40px;
  }

  .notfound {
    padding: 0;
    font-size: 18px;
  }

  .the_page {
    padding: 0;
    font-size: 13px;
  }
}
