@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.bg {
  background-image: url("../../Img/image-23.png");
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  padding-bottom: 90px;
}

.oops {
  font-family: "Montserrat", sans-serif;
  font-size: 88px;
  color: aliceblue;
  text-align: center;
  align-items: center;
  padding-top: 200px;
  font-weight: bold;
}

.notfound {
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  color: #f45725;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}

.the_page {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  color: aliceblue;
  text-align: center;
  align-items: center;
  padding-top: 30px;
}