.full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://uploads-ssl.webflow.com/629d87f593841156e4e0d9a4/63aeb74c910c7070ebca8b75_image-23.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}
#errmssg1 {
  font-size: 14px;
  margin-top: 15px;
  user-select: none;
}
.insidebox {
  margin-top: 221px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  padding: 20px 70px 44px 70px;
  width: 60%;
  max-width: 44%;
  margin-bottom: 48px;
}
.title2 {
  text-align: center;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 5.938rem;
  font-size: 3.938rem;
  line-height: 3.688rem;
  margin-bottom: 4.25rem;
}
.title2 p {
  color: white;
  margin: 0;
  font-size: 2.313rem;
}

.FED {
  text-align: center;
  font-family: rubik;
  font-style: normal;
  text-shadow: 1px 0.496831px 1px #f45725;
  font-size: 37px;
  font-weight: 700;
}

.whitebox1 {
  /* width: 100%; */
  height: 20rem;
  padding: 0px 57px;
  margin-bottom: 100px;
  background: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hellopart1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welc1 {
  margin-top: 2rem;
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.688rem;
  line-height: 2.063rem;
  letter-spacing: 0.005em;
  color: black;
}
/* 
.det1 {
  width: 9.375rem;
  height: 1.063rem;
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.063rem;
  color: black;
}
#google {
  color: black;
}
.googlepart1 {
  margin: 1.875rem;
  height: 2.625rem;
  width: 100%;
  padding: 12.8px;
  border: 0.056rem solid black;
  border-radius: 0.667rem;
  display: flex;
    align-items: center;
    justify-content: center;
}
.googlepart1 GoogleOAuthProvider {
  width : 100%;
}
.icon1 {
  width: 1.063rem;
  height: 1.063rem;
  margin-right: 6px;
}
.log1 {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.063rem;
  color: black;
}

.or1 {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.063rem;
  color: black;
}

.signup1 {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.90rem;
  line-height: 1.063rem;
  color: black;
}

.spn1 {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.90rem;
  line-height: 1.063rem;
  color: black;
  text-decoration: none;
}
.spn1:after{
  content: "";
  width: 0;
  height: 2px;
  background-color: #f45725;
  display:flex;
  margin-left: 155px;
  transition: 0.3s;
}
.spn1:hover:after{
  width: 25%;
  transition: width 0.3s linear;
}
.spn1:hover{
  color: #f45725;
}

.login-btn1{
  width: 22.176rem;
  height: 2.446rem;
} */
.logtwo1 {
  width: 100%;
  margin-top: 31.15px;
  padding: 7.3px;
  border-radius: 7.3px;
  border: black;
  background-color: black;
  font: mulish 19.8px;
  font-size: 15.8px;
  cursor: pointer;
}
.input::placeholder {
  font-weight: 300;
  font-size: 0.938rem;
  font-family: Mulish;
  font-style: normal;
  color: black;
  text-align: left;
}
.user,
.pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.9px;
  width: 100%;
}
.user input,
.pass input {
  line-height: 1.063em;
  text-align: left;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 10.6px 23.2px;
  width: 100%;
  border-bottom: 1.5px solid black;
}
.username1 {
  border: none;
  color: black;
  font-size: 0.75rem;
  padding: 0.313rem;
  font-family: "Mulish", sans-serif;
}
.username1:focus {
  outline: none;
}
.password1 {
  border: none;
  color: black;
  font-size: 0.75rem;
  padding: 0.313rem;
  font-family: "Mulish", sans-serif;
}
.password1:focus {
  outline: none;
}
.signup1 {
  padding-top: 1.25rem;
}

.form-control:focus {
  border-color: #ccc;
  box-shadow: #ccc;
  border: 1px solid #ccc;
  outline: none;
}
.forgotPassword1 {
  width: 100%;
  padding: 6.9px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.forgotPassword1 p {
  color: black;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  font-size: 13px;
}
.forgotPassword1 p:hover {
  color: #f45725;
}
.my-text-class {
  font-family: "Rubik", sans-serif;
}
.my-title-class {
  font-family: "Rubik", sans-serif;
}
@media (max-width: 1200px) and (min-width: 1000px) {
  .insidebox {
    width: 50%;
    max-width: 50%;
  }
}
@media (max-width: 1000px) and (min-width: 800px) {
  .insidebox {
    width: 60%;
    max-width: 60%;
  }
}
@media (max-width: 800px) and (min-width: 760px) {
  .insidebox {
    width: 65%;
    max-width: 65%;
  }
}
@media (max-width: 760px) and (min-width: 530px) {
  .insidebox {
    width: 70%;
    max-width: 70%;
    padding: 15px 40px 40px 40px;
  }
}
@media (max-width: 530px) {
  .insidebox {
    width: 80%;
    max-width: 80%;
    padding: 15px 40px 40px 40px;
  }
  .whitebox1 {
    margin-top: 30.8px;
    padding: 35px 35px;
  }
}
@media (max-width: 400px) {
  .insidebox {
    width: 100%;
    max-width: 100%;
    padding: 15px 40px 40px 40px;
  }
  .whitebox1 {
    margin-top: 30.8px;
    padding: 30px 30px;
  }
}
