.Page_main {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #ffffff;
}

.Page {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0px 20px;
}

.pageLeft {
  padding-top: 162px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26.2%;
  min-width: 160px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 3px solid #808080;
  margin-top: 44px;
  margin-bottom: 119px;
  padding: 0 42px 42px 62px;
  width: 100%;
  padding-bottom: 200px;
}

.dashboardTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 18px;
}

.DASHBOARD {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  /* font-size: 26.0215px; */
  font-size: clamp(1.1rem, 1.2vw + 1rem, 1.626rem);
  /* line-height: 24px;/ */
  line-height: clamp(1.2rem, 1.5vw + 1rem, 1.5rem);
  /* letter-spacing: 0.005em; */
  color: #999999;
  text-align: center;
}

.profilePic {
  display: flex;
  justify-content: center;
}

.profilePic img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin-top: 27px;
  /* object-fit:scale-down; */
}

.Position .name {
  margin-top: 17px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.005em;
  color: #efefef;
  inline-size: 100%;
  text-align: center;
  overflow-wrap: break-word;
}

.Position .designation {
  margin-top: 9px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.005em;
  color: #999999;
}

.gotoPro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.dashboardBottom {
  margin-top: 51px;
  width: 100%;

  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 22.0914px;
  line-height: 21px;
  letter-spacing: 0.005em;
  align-items: center;
}

.dashboardBottom_options {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 42%;
  margin-bottom: 34px;
}

.dashboardBottom_options p {
  margin-left: 10px;
  transition: all 0.3s;
}

.dashboardBottom_options:hover p {
  color: #f45725;
}

.dashboardBottom_options:hover .dashboardBottom_icons > path {
  color: #f45725;
}

.hello path {
  color: #f45725;
}

.hello p {
  color: #f45725;
}

.pageRight {
  padding-top: 162px;
  padding-bottom: 100px;
  background-image: url(/src/Img/Rectangle24.jpg);
  background-size: cover;
  width: 73.8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 162px;
}

@media (max-width: 1000px) {
  .pageLeft,
  .pageRight {
    padding-top: 100px;
  }

  .pageRight {
    width: 63%;
  }

  .pageLeft {
    width: 37%;
  }

  .dashboard {
    padding-left: 40px;
    padding-right: 40px;
  }

  .Position .name {
    font-size: 26px;
  }

  .dashboardBottom {
    font-size: 20px;
  }
}

@media (max-width: 1300px) {
  .pageLeft {
    width: 33%;
  }

  .pageRight {
    width: 67%;
  }
}

@media (max-width: 1155px) {
  .pageLeft,
  .pageRight {
    padding-top: 130px;
  }

  .pageLeft {
    width: 36%;
  }

  .pageRight {
    width: 64%;
  }
}

@media (max-width: 1300px) {
  .pageRight {
    width: 67%;
  }

  .pageLeft {
    width: 33%;
  }
}

@media (max-width: 1155px) {
  .pageRight {
    width: 64%;
  }

  .pageLeft {
    width: 36%;
  }

  .pageLeft,
  .pageRight {
    padding-top: 130px;
  }
}

@media (max-width: 1000px) {
  .Position .name {
    font-size: 26px;
  }

  .dashboardBottom {
    font-size: 20px;
  }

  .pageRight {
    width: 63%;
  }

  .pageLeft {
    width: 37%;
  }

  .pageLeft,
  .pageRight {
    padding-top: 100px;
  }

  .proHeading {
    /* width: 60%; */
    font-size: 30px;
  }

  .dets1,
  .vals1 {
    font-size: 24px;
  }

  .dashboard {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 880px) {
  .pageRight {
    align-items: center;
    justify-content: center;
    width: 67%;
    padding-bottom: 60px;
  }

  .Position .name,
  .dashboardBottom {
    font-weight: 500;
  }

  .pageLeft {
    width: 33%;
  }

  .proHeading {
    font-size: 24px;
  }
}

@media (max-width: 830px) {
  .dashboard {
    padding-right: 40px;
    padding-left: 40px;
  }

  .profilePic img {
    width: 50px;
    height: 50px;
  }

  .Position name {
    inline-size: 50%;
  }

  .profilePic {
    justify-content: unset;
  }

  .dashboardBottom {
    align-items: flex-start;
  }

  .Position .name,
  .Position .designation {
    font-size: 20px;
    text-align: unset;
    font-weight: 400;
  }

  .dashboardBottom p {
    display: none;
  }

  .pageLeft {
    width: 28%;
  }

  .pageRight {
    width: 72%;
  }

  .dets1,
  .vals1 {
    font-size: 22px;
  }

  .dashboard {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 690px) {
  .pageRight {
    padding: 40px 0;
  }

  .pageLeft {
    padding-top: 40px;
  }
}

@media (max-width: 650px) {
  .pageLeft {
    width: 20%;
  }

  .dashboard {
    padding-left: 25%;
    padding-right: 25%;
  }

  .pageRight {
    width: 80%;
  }

  .pageLeft,
  .pageRight {
    padding-top: 0px;
  }

  .dashboard {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .proHeading {
    padding-bottom: 40px;
    width: 70%;
  }

  .Position .name {
    font-size: 16px;
    font-weight: 400;
  }

  .headInnerText {
    font-size: 23px;
  }

  .dets1,
  .vals1 {
    font-size: 19px;
    padding: 15px 15px 15px 0;
  }

  .pageRight {
    justify-content: flex-start;
  }

  .dashboard {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (max-width: 482px) {
  .pageLeft {
    width: 17%;
  }

  .pageRight {
    width: 83%;
  }

  .Position .name {
    font-size: 13px;
    font-weight: 400;
  }

  .headInnerText {
    font-size: 20px;
  }

  .dets1,
  .vals,
  .vals1 {
    font-size: 16px;
  }

  .dashboard {
    padding-left: 15%;
    padding-right: 15%;
  }

  .pageRight {
    padding: 10px 0 40px 0;
  }

  .proHeading {
    font-size: 20px;
    padding-bottom: 30px;
  }
}

@media (max-width: 394px) {
  .pageRight {
    padding: 10px 10px 40px 15px;
  }

  .proHeading {
    font-size: 18px;
  }
}

@media (max-width: 348px) {
  .pageRight {
    padding: 10px 0 30px 15px;
  }

  .proHeading {
    font-size: 22px;
  }
}
