.Page_main {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #ffffff;
}

.Page {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0px 20px;
}

.pageLeft {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.2%;
  min-width: 180px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 3px solid #808080;
  /* margin-top: 44px; */
  /* margin-bottom: 119px; */
  padding: 0 75px 0px 0px;
  /* width: 65%; */
  padding-bottom: 200px;
}

.dashboardTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
}

.profilePic {
  display: flex;
  justify-content: center;
}

.profilePic img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  object-fit: cover;
}

.name,
.designation {
  font-family: "Mulish", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.005em;
}

.name {
  margin-top: 15px;
  font-size: clamp(0.4rem, 0.5vw + 1rem, 1.8rem);
  line-height: clamp(0.5rem, 0.6vw + 1rem, 1.9rem);
  color: #efefef;
  overflow-wrap: break-word;
}

.designation {
  margin-top: 10px;
  font-size: clamp(0.4rem, 0.5vw + 1rem, 1.25rem);
  line-height: clamp(0.5rem, 0.6vw + 1rem, 1.563rem);
  color: #999999;
}

.gotoPro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.dashboardBottom {
  margin-top: 51px;
  width: 100%;

  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 22.0914px;
  line-height: 21px;
  letter-spacing: 0.005rem;
  align-items: center;
  padding-right: 30%;
  text-align: center;
}

.dashboardBottom_options {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 42%;
  margin-bottom: 34px;
}

.dashboardBottom_options p {
  margin-left: 10px;
  transition: all 0.3s;
}

.dashboardBottom_options:hover p {
  color: #f45725;
}

.dashboardBottom_options:hover .dashboardBottom_icons > path {
  color: #f45725;
}

.hello path {
  color: #f45725;
}

.hello p {
  color: #f45725;
}

.pageRight {
  padding-top: 162px;
  padding-bottom: 100px;
  background-image: url(/src/Img/Rectangle24.jpg);
  background-size: cover;
  width: 73.8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 162px;
}

@media (max-width: 1000px) {
  .pageLeft,
  .pageRight {
    padding-top: 100px;
  }

  .pageRight {
    width: 63%;
  }

  .pageLeft {
    width: 37%;
  }

  .dashboard {
    padding-left: 40px;
    padding-right: 40px;
  }

  .dashboardBottom {
    font-size: 20px;
  }
}

@media (max-width: 1300px) {
  .pageLeft {
    width: 33%;
  }

  .pageRight {
    width: 67%;
  }
}

@media (max-width: 1155px) {
  .pageLeft,
  .pageRight {
    padding-top: 130px;
  }

  .pageLeft {
    width: 36%;
  }

  .pageRight {
    width: 64%;
  }
}

@media (max-width: 1300px) {
  .pageRight {
    width: 67%;
  }

  .pageLeft {
    width: 33%;
  }
}

@media (max-width: 1155px) {
  .pageRight {
    width: 64%;
  }

  .pageLeft {
    width: 36%;
  }

  .pageLeft,
  .pageRight {
    padding-top: 130px;
  }
}

@media (max-width: 1000px) {
  .dashboardBottom {
    font-size: 20px;
  }

  .pageRight {
    width: 63%;
  }

  .pageLeft {
    width: 37%;
  }

  .pageLeft,
  .pageRight {
    padding-top: 100px;
  }

  .proHeading {
    /* width: 60%; */
    font-size: 30px;
  }

  .dets1,
  .vals1 {
    font-size: 24px;
  }

  .dashboard {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 880px) {
  .pageRight {
    align-items: center;
    justify-content: center;
    width: 67%;
    padding-bottom: 60px;
  }

  .dashboardBottom {
    font-weight: 500;
  }

  .pageLeft {
    width: 33%;
  }

  .proHeading {
    font-size: 24px;
  }
}

@media (max-width: 830px) {
  .dashboard {
    width: 100%;
  }

  .pageLeft {
    padding-top: 162px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20.2%;
    min-width: 180px;
    padding-right: 2px;
  }

  .profilePic img {
    width: 50px;
    height: 50px;
  }

  .Position name {
    inline-size: 50%;
  }

  .profilePic {
    justify-content: center;
  }

  .dashboardBottom_options {
    align-items: flex-end;
    margin-bottom: 60px;
  }

  .dashboardBottom {
    align-items: flex-end;
    padding-left: 10px;
  }

  .dashboardBottom p {
    display: none;
  }

  .pageLeft {
    width: 28%;
  }

  .pageRight {
    width: 72%;
  }

  .dets1,
  .vals1 {
    font-size: 22px;
  }

  .dashboard {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 690px) {
  .pageRight {
    padding: 40px 0;
  }

  .pageLeft {
    padding-top: 40px;
  }
}

@media (max-width: 650px) {
  .pageLeft {
    width: 20%;
  }

  .DASHBOARD,
  .Position,
  .designation .name {
    display: none;
  }

  .profilePic {
    width: 100px;
    height: auto;
  }

  .dashboard {
    left: 0;
    width: 95%;
    overflow: auto;
    display: block;
    z-index: 1;
    padding-left: 35%;
    padding-right: 35%;
  }

  .pageRight {
    width: 80%;
  }

  .pageLeft,
  .pageRight {
    padding-top: 0px;
  }

  .profilePic {
    justify-content: flex-end;
  }

  .dashboardBottom_options {
    align-items: flex-end;
  }

  .dashboardBottom {
    align-items: flex-end;
  }

  .dashboardBottom p {
    display: none;
  }
}

@media (max-width: 575px) {
  .proHeading {
    padding-bottom: 40px;
    width: 70%;
  }

  .headInnerText {
    font-size: 23px;
  }

  .dashboard {
    left: 0;
    width: 95%;
    overflow: auto;
    display: block;
    z-index: 1;
    padding-left: 25%;
    padding-right: 25%;
  }

  .dets1,
  .vals1 {
    font-size: 19px;
    padding: 15px 15px 15px 0;
  }

  .pageRight {
    justify-content: flex-start;
  }

  .profilePic {
    justify-content: center;
  }

  .dashboardBottom_options {
    align-items: flex-end;
  }

  .dashboardBottom {
    align-items: flex-end;
  }

  .dashboardBottom p {
    display: none;
  }

  .dashboard {
    padding-left: 12px;
    padding-right: 12px;
  }

  .pageLeft {
    width: 7%;
  }

  .pageRight {
    width: 93%;
  }

  .headInnerText {
    font-size: 20px;
  }

  .dets1,
  .vals,
  .vals1 {
    font-size: 16px;
  }

  .dashboard {
    padding-left: 15%;
    padding-right: 15%;
  }

  .pageRight {
    padding: 10px 30px 30px 0;
  }

  .proHeading {
    font-size: 20px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 416px) {
  .pageLeft {
    min-width: 100px;
  }

  .DASHBOARD,
  .Position,
  .designation .name {
    display: none;
  }
}
