@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

.full {
  background-image: url(../../../Img/image-23.png);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  align-items: center;
}
.inside {
  background-color: black;
  height: 755px;
  width: 622px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  display: flex;
  text-align: center;
  padding: 10px;
}
.title1 {
  text-align: center;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 95px;
  font-size: 63px;
  line-height: 59px;

  margin-bottom: 68px;
 
}
.title1 p{
   color: white;
   margin: 0;
}

.whitebox {
  width: 481.08px;
  height: 553.11px;
  background: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.hellopart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welc {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.005em;
  color: black;
}

.det {
  width: 150px;
  height: 17px;
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  color: black;
}
.googlepart {
  box-sizing: border-box;
  height: 42px;
  width: 369px;
  border: 0.889247px solid black;
  border-radius: 10.671px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
  width: 17px;
  height: 17px;
}
.log {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  color: black;
}

.or {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  color: black;
}

.signup {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  color: black;
}

.spn {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: black;
  text-decoration: none;
}
.logtwo {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  color: white;
  background-color: black;
  width: 354.81px;
  height: 39.13px;
  border: none;
  border-radius: 3%;
}

.input {
  position: absolute;
  line-height: 17px;
  text-align: left;
  background-color: transparent;
  outline: none;
  border: none;

}
.input::placeholder {
  font-weight: 300;
  font-size: 13.5px;
  font-family: Mulish;
  font-style: normal;
  color: black;
  text-align: left;
}
.user,.pass{
  margin-bottom: 36px;
  width: 369px;
}
.user input,.pass input{
  width: 100%;
  border-bottom: 1.5px solid black;
  padding: 10px;
}
.username {
  border: none;
  color: black;
  font-size: 12px;
  padding: 5px;
  font-family: "Mulish", sans-serif;

}
.username:focus {
  outline: none;
}
.hr1 {
  border-top: 2px solid black;
  width: 354.81;
}
.password {
  border: none;
  color: black;
  font-size: 12px;
  padding: 5px;
  font-family: "Mulish", sans-serif;

}
.password:focus {
  outline: none;
}
.hr2 {
  border-top: 2px solid black;
  width: 354.81;
}
.signup {
  padding-top: 20px;
}
.form-control:focus {
  border-color: #ccc;
  box-shadow: #ccc;
  border: 1px solid #ccc;
  outline: none;
}
