
@media only screen and (max-width: 484px)
 {
  .cardbox 
  {
    width: 320px;
    margin:auto auto;
  }
}
@media only screen and (max-width: 477px) 
{
  .seeall_page 
  {
    background-color: rgb(15, 14, 14);
    overflow-x:hidden;
}
}