.carousel {
  position: relative;
  width: auto;
}

.text {
  background-color: transparent;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
  margin-top: 90px;
}

.textFed {
  text-shadow: 2px 2px 50px #000;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 80px;
  letter-spacing: 0.005em;
  color: #ffffff;
  background-color: transparent;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 150px;
}

span {
  background-color: transparent;
  color: #f45725;
}

.textFedDescription {
  text-shadow: 2px 2px 50px #000;
  width: 70%;
  /* margin: 30px 0px; */
  margin-bottom: 30px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.005em;
  background-color: transparent;
  color: #ffffff;
  margin-right: 50px;
  margin-left: 50px;
}

.carouselButton {
  background-color: #f45725;
  color: white;
  font-family: "Manrope";
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.005em;
  margin-left: 50px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .textFed {
    font-size: 40px;
  }

  .textFedDescription {
    font-size: 18px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 750px) {
  .textFed {
    line-height: 65px;
  }
}

@media only screen and (max-width: 750px) {
  .text {
    margin-top: 48px;
  }
  .textFed {
    margin-top: 400px;
    font-size: 30px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    line-height: 50px;
  }

  .textFedDescription {
    margin-right: 25px;
    font-size: 16px;
    line-height: 35px;
    margin-left: 25px;
  }

  .carouselButton {
    font-size: 16px;
    line-height: 35px;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 650px) {
  .textFed {
    line-height: 150%;
    font-size: 20px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
  }

  .textFedDescription {
    font-weight: 500;
    line-height: 150%;
    font-size: 14px;
    margin-right: 25px;
    margin-left: 25px;
  }

  .carouselButton {
    font-weight: 500;
    line-height: 150%;
    font-size: 14px;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
