.space {
  background-color: hsl(0deg 3.45% 5.69%);
  border: none;
  width: 100%;
  height: 100px;
  margin: -1px 0px;
}

.space1 {
  border: none;
  background-color: #0f0e0e;
  width: 100%;
  height: 90px;
  margin: -1px 0px;
}

.space2 {
  border: none;
  background-color: #0f0e0e;
  width: 100%;
  height: 113px;
  margin: -1px 0px;
}

@media only screen and (max-width: 375px) {
  .space,
  .space1,
  .space2 {
    width: 100%;
    border: none;
    height: 50px;
  }
}
