.mDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0e0e;
  color: #fff;
}

.ContDiv {
  width: 90%;
  background-image: url("./../../../../assets/SkillHunt/eventsPageBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.leftDiv {
  width: 45%;
  display: flex;
  font-family: "Mulish", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.ImgTagSkillTag {
  width: 170px;
  height: 132px;
}
