.profileBackground {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.pmainBox {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.profileLeft {
  background-image: url(../../../Img/Frame\ 17.png);
  width: 52%;
  padding: 77px 17px 60px 38px;
}

.profile {
  color: #ffffff;
  font-family: rubik;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding-left: 33px;
  padding-top: 81px;
  padding-bottom: 27px;
}

.proHeading {
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 38px;
  padding-bottom: 99px;
  width: 60%;
}

.headInnerText {
  display: flex;
  justify-content: space-between;
  border-bottom: solid white 1px;
  padding-bottom: 3px;
}

.dets,
.vals {
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  padding: 20px;
}

.dets,
.vals {
  margin-bottom: 30px;
}

.profileRight {
  background-image: url(./../../../Img/Rectangle23.jpg);
  background-position-x: right;
  background-repeat: no-repeat;
  width: 47.77%;
  padding-top: 148px;
  box-sizing: border-box;
  object-fit: contain;
}

.illuminating {
  display: flex;
  flex-direction: column;
  align-items: right;
  color: #ffffff;
  padding: 200px 43px 200px 181px;
  text-align: right;
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  line-height: 59.25px;
  flex-wrap: wrap;
}

.logoutBtn {
  background-color: #ffffff;
  color: black;
  font-family: "Rubik", sans-serif;
  height: 40px;
  width: 70%;
  border: none;
  margin-top: 30px;
  box-shadow: inset;
  font-size: 20px;
  border-radius: 2%;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .profileRight {
    margin-right: 2%;
    padding: 0;
  }

  .profileLeft {
    padding-bottom: 5%;
  }

  .profileBackground {
    background-image: url(./../../../Img/wolf-full.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20%;
  }

  .profile,
  .profileLeft,
  .profileRight,
  .illuminating {
    background: none;
  }

  .body {
    background-color: black;
  }

  .illuminating {
    padding-top: 320px;
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  .pmainBox {
    flex-direction: column-reverse;
    align-items: center;
  }

  .profileLeft,
  .illuminating {
    padding: 0;
  }

  .profileLeft {
    margin-left: 10%;
  }

  .profileRight {
    width: 100%;
    max-width: 100%;
  }

  .profile {
    padding-left: 0;
    padding-top: 10%;
  }

  .proHeading {
    font-size: 28px;
  }

  .dets,
  .dets1,
  .vals,
  .vals1 {
    font-size: 22px;
  }

  .illuminating {
    padding: 6% 3% 2% 9%;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    font-size: 36px;
    /* text-align: center; */
  }

  .illuminating p {
    padding: 1%;
  }

  .proHeading {
    /* width: 58%; */
    padding-bottom: 15%;
  }
}

@media (max-width: 880px) {
  .profileLeft {
    margin-left: 5%;
  }

  .profileLeft {
    width: 60%;
  }

  .proHeading {
    font-size: 24px;
  }

  .dets .dets1,
  .vals,
  .vals1 {
    font-size: 20px;
  }

  .illuminating {
    font-size: 33px;
  }
}

@media (max-width: 650px) {
  .pmainBox {
    margin-top: 0px;
  }

  .profileLeft {
    width: 80%;
  }

  .illuminating {
    padding-top: 15%;
  }

  .proHeading {
    font-size: 15px;
    padding-bottom: 15%;
  }
}

@media (max-width: 482px) {
  .proHeading {
    font-size: 20px;
  }

  .dets .dets1,
  .vals,
  .vals1 {
    font-size: 15px;
  }

  .illuminating {
    font-size: 30px;
  }
}

@media (max-width: 394px) {
  .proHeading {
    font-size: 18px;
  }

  .dets .dets1,
  .vals,
  .vals1 {
    font-size: 14px;
  }

  .illuminating {
    font-size: 30px;
  }
}
@media (max-width: 348px) {
  .proHeading {
    font-size: 22px;
  }

  .dets .dets1,
  .vals,
  .vals1 {
    font-size: 14px;
    padding: 0;
  }

  .illuminating {
    font-size: 30px;
  }
}
@media (max-width: 298px) {
  .proHeading {
    font-size: 22px;
  }

  .illuminating {
    font-size: 30px;
  }

  .vals,
  .vals1 {
    font-size: 14px;
    padding: 15px;
  }
}
