#footer {
  background-color: #0e0e0e;
}

.cards {
  margin-top: -1px;
  padding-bottom: 30px;
  background-color: #0e0e0e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.eventcard {
  display: flex;
  justify-content: space-between;
  border-radius: 32px;
  padding: 30px;
  background-color: #1e1e1e;
  position: relative;
  width: 43%;
}

.carddetails {
  display: flex;
  justify-content: space-evenly;
}

.left {
  text-align: center;
  margin-right: 30px;
}

.date {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.month {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
  color: #afafaf;
}

.image {
  margin-top: 40px;
  border-radius: 10px;
  width: 121px;
  height: 72px;
  object-fit: cover;
}

.right {
  width: 100%;
}

.superscript {
  vertical-align: super;
  font-size: smaller;
  color: #fff;
}

.title {
  font-family: "Rubik", sans-serif;
  font-size: 28px;
}

.eventDetail {
  margin-top: 12px;
  font-size: 15px;
  color: #afafaf;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  height: 75%;
  margin-bottom: 50px;
}

.regBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-family: "Manrope", sans-serif;
  float: right;
  margin-left: 20px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  padding: 10px 67px;
  background-color: rgb(209, 209, 209);
  outline: none;
  border-width: 0px;
  color: #f45725;
  font-weight: 700;
  transition: all 0.3s;
  cursor: context-menu;
  display: flex;
  align-items: center;
}
.block {
  cursor: not-allowed;
}

.live {
  color: rgb(34, 185, 34);
}

.lockSvg {
  margin-left: 5px;
}

.lockSvg path {
  color: #f45725;
}

@media only screen and (max-width: 640px) {
  .eventcard {
    width: 87% !important;
  }
}

@media only screen and (max-width: 700px) {
  #carddetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .eventcard {
    width: 90%;
  }
}

@media only screen and (max-width: 1570px) {
  .regBtn {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 1100px) {
  .image {
    margin-top: 0px;
  }

  .carddetails {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  .datemonth {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }

  .right {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .regBtn {
    float: none;
  }
}

@media only screen and (max-width: 400px) {
  .regBtn {
    padding: 10px 20px;
  }

  .image {
    margin-top: 0px;
    margin-right: 1.2rem;
  }

  .datemonth {
    margin-right: -1rem;
  }
}
