#CloseIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
  cursor: pointer;
  background-color: black;
}

.regFormPopUp {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 32px;
  background-color: #0f0e0e;
  height: 80%;
  width: 60%;
  padding: 50px;
  /* overflow-y: auto; */
}

.form::-webkit-scrollbar {
  width: 4px;
}

.form::-webkit-scrollbar-track {
  background: transparent;
}

.form::-webkit-scrollbar-thumb {
  background: #888;
}

.form::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nextBtn {
  width: 300px;
  background-color: #222222;
  padding: 15px 20px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.fontDets {
  font-family: mulish;
  font-weight: 700;
  font-size: 1rem;
}

.prevBtn {
  width: 300px;
  background-color: #222222;
  padding: 15px 20px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.submitBtn {
  width: 300px;
  background-color: #f45725;
  padding: 15px 20px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.team {
  font-size: 1rem;
  width: 80%;
  height: 20vh;
  margin-right: 500px;
  padding-top: 5%;
  padding-bottom: 6.5%;
  margin-bottom: 20%;
  display: flex;
}
.teamHead {
  margin-top: 7%;
  display: flex;
  text-align: center;
}

label {
  font-family: mulish;
  font-weight: 100;

  font-size: 1.25rem;
  color: white;
  margin-left: 15px;
  margin-right: 12px;
  margin-bottom: 4%;
}

input::placeholder,
input {
  font-family: mulish;
  font-size: 1.15rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: #f45725;
}

.inpField {
  display: flex;
  flex-direction: column;
  gap: 10%;
  margin-bottom: 5%;
  justify-content: center;
}

input {
  /* padding: 15px; */
  padding: 0.8rem;
  border-radius: 13px;
  width: 100%;
  border: rgb(145, 141, 141) solid 1px;
  background-color: #0f0e0e;
}

.inputField {
  width: 90%;
}

.radioLabel {
  margin-right: 20%;
}

.radioInp {
  width: unset;
  margin: 0;
  margin-right: 7px;
}

.radioDiv {
  display: flex;
  align-items: center;
  gap: 60px;
  line-height: 0px;
  flex-flow: row wrap;
}

.radioDiv div {
  align-items: center;
  display: flex;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.verifybtn {
  font-size: 1.3rem;
  color: #fff;
  /* display: inline-block; */
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  /* padding: .375rem .75rem; */
  /* line-height: 1.5; */
  border-radius: 1rem;
  border: none;
  width: 35%;
  /* height: 60%; */
  background-color: #f45725;
  margin-left: 10px;
}

.teamcreate {
  width: 100%;
}

.teamjoin {
  width: 100%;
  display: flex;
}

.submitBtn:disabled {
  color: #ffffff;
  background-color: #834d4d;
  border-color: #6c757d;
}
.prevBtn:disabled {
  color: #777777;
}

.message {
  font-size: 20px;
  font-family: mulish;
  padding: 1%;
  color: #28a745;
  /* Change this to the color you want for successful verification */
}

.message-failed {
  color: #dc3545;
  /* Change this to the color you want for failed verification */
}

.switch {
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.jointeam {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input:checked + .slider {
  background-color: #f45725;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f45725;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.paymentMain {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-content: center;
}
.paymentMain .qrcode {
  padding: 1.5%;
  background-color: white;
  width: fit-content;
  align-self: center;
  margin: 1.5%;
}
.paymentMain input {
  width: 60%;
  align-self: center;
}
.paymentMain label {
  width: 60%;
  align-self: center;
  font-size: 1rem;
}

@media (max-width: 1027px) {
  .teamHead {
    margin-top: 10%;
  }
  .team {
    width: 95%;
    margin-bottom: 20%;
  }
}
@media (max-width: 832px) {
  .teamHead {
    margin-top: auto;
  }
  .form {
    justify-content: space-evenly;
    height: 70%;
  }

  label,
  .nextBtn,
  .prevBtn,
  .submitBtn,
  .verifybtn,
  .message,
  .message-failed {
    font-size: 18px;
  }
  .team {
    margin: 0;
    padding-bottom: 0;
  }
  .jointeam {
    justify-content: space-evenly;
  }

  .toggle {
    margin-right: 5px;
  }
  input::placeholder,
  input {
    font-size: 100%;
  }

  input {
    padding: 3.5%;
    border-radius: 10px;
  }

  .radioInp {
    margin: 0;
  }

  .nextBtn,
  .prevBtn,
  .submitBtn {
    border-radius: 12px;
    width: 200px;
    margin-top: 2%;
    padding: 3.5% 2%;
  }
  .paymentMain label {
    font-size: 0.8rem;
  }
}
@media (min-height: 670px) {
  .form {
    height: 55%;
  }
}
@media (min-height: 850px) {
  .form {
    height: 45%;
  }
}
@media (max-height: 653px) {
  .form {
    padding: 30px 50px;
  }
  .team {
    padding-top: 10%;
  }
}

@media (max-height: 492px) {
  .form {
    padding: 30px 50px;
    height: 370px;
  }
}

@media (max-height: 914px) {
  .form {
    overflow-y: auto;
  }
}

@media (max-width: 715px) {
  .form {
    width: 70%;
  }
  .radioDiv {
    flex-flow: nowrap;
    gap: 4%;
    max-width: inherit;
    justify-content: space-between;
  }
  .paymentMain label {
    font-size: 0.7rem;
  }
}

@media (max-width: 610px) {
  label {
    margin: 0;
    margin-bottom: 4%;
  }

  .nextBtn,
  .prevBtn,
  .submitBtn,
  .verifybtn {
    border-radius: 10px;
  }

  input[type="radio"] {
    margin-right: 10px;
  }
  .paymentMain label {
    font-size: 0.6rem;
  }
}

@media (max-width: 512px) {
  .form {
    width: 80%;
    padding: 35px;
  }
}

@media (max-width: 409px) {
  label,
  .nextBtn,
  .prevBtn,
  .submitBtn,
  .verifybtn,
  .message,
  .message-failed {
    font-size: 80%;
  }
  .nextBtn,
  .prevBtn,
  .submitBtn {
    padding: 5% 15%;
  }

  input::placeholder,
  input {
    font-size: 90%;
  }

  input {
    border-radius: 7px;
    margin-top: 3%;
  }
  .verifybtn {
    margin-top: 3%;
  }
  input::placeholder {
    padding: 2%;
  }

  .radioDiv {
    margin-top: 2%;
    flex-flow: wrap;
  }

  .labelAndRadio {
    margin-bottom: 5%;
  }
}
