.addEvent {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  padding-left: 70px;
  padding-right: 95px;
}
.addEvent input {
  margin-bottom: 40px;
  padding: 10px 0px;
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 40px;
  background: none;
  border-bottom: 3px solid #4b4b4b;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  margin-right: 0px;
  color: white;
}
.addEvent input::placeholder {
  background-color: transparent;
  font: "Mulish";
  width: 100%;
}
.addEvent .inp_btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-left: 90px; /* Adjust margin-right */
  width: 150px;
  height: 50px;
  float: right;
}
.addEvent .inp_btn .submit_btn {
  padding: 10px 10px;
  width: 100%;
  border-radius: 6px;
  font-family: Mulish;
  font-size: 18px;
  height: 50px;
  width: 120px;
  min-width: 120px;
  background-color: #f45725;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  margin-right: auto; /* Push the button to the right corner */
}

.addEvent_date {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addEvent_date input {
  width: 100%;
}
.addEvent .regdropdown {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 40px;
    background: none;
    border-bottom: 3px solid #4b4b4b;
    font-size: 20px;
    text-align: left;
}
select option {
  background-color: #c2c2c2; 
  color: #333; 
}
.addEvent form {
  width: 100%;
}

.event_poster {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #808080;
  margin-bottom: 44px;
  width: 100%;
}
.event_poster input {
  display: flex;
  align-items: center;
  border-bottom: none;
  margin: 10px 0px;
}
.event_poster .preview_btn {
  background-color: transparent;
  border: 1px solid #f45725;
  margin-left: 10px;
  border-radius: 6px;
  padding: 8px 10px;
  cursor: pointer;
  text-decoration: none;
}

.event_poster .preview_btn:hover {
  background-color: #f45725;
  transition: 0.2s linear;
}

@media (max-width: 768px) {
  .addevent {
    width: 90%;
    padding-left: 0px;
    padding-right: 20px;
  }

  .addevent input {
    font-size: 16px;
  }

  .event_poster input {
    font-size: 16px;
  }

  .addevent .inp_btn .submit_btn {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100px;
    width: 100px;
    height: 50px;
    font-size: 16px;
  }
}
