

.page_right_info{
    height: 871px;
    font-family: 'Manrope';
    font-style: normal;
    width: 100%;
}

.info_headers{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 800;
    height: 10%;
}

.ViewEvents,
.AddEvents {
    cursor: pointer;
    display: inline-block;
    margin: 10px 100px;
    padding: 5px 10px;
}

.info_content{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:1408px)
{
    .page_right_info{
        height: 700px;
    }
}
@media (max-width: 1008px)
{
    .page_right_info{
        height: 700px;
    }
}

@media (max-width: 768px) {
    .info_headers{
        display: flex;
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
    }

    .ViewEvents,
    .AddEvents {
        cursor: pointer;
        display: inline-block;
        margin: 5px 10px;
        padding: 5px 10px;
    }

}