.mDiv {
  position: fixed;
  right: 0px;
  top: -4.3%;
  bottom: -5.3%;
  margin: 2% 0px;
  border-radius: 8px 0px 0px 8px;
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3)
  );
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: all 0.3s;
  z-index: 3;
}

.mDivCon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.ArrowBackIcon {
  position: absolute;
  top: 20px;
  left: 30px;
  color: #fff;
  cursor: pointer;
}

.CreateProfile,
.Please {
  font-family: "Mulish", sans-serif;
  text-align: center;
}

.CreateProfile {
  font-size: 27px;
  font-weight: 600;
}

.Please {
  margin: 10px 0px;
  font-size: 13.5px;
  font-weight: 300;
}

.WhiteBackGround {
  margin: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  width: 60%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.FormTag {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0px;
  margin-bottom: 20px;
}

.inpTag {
  outline: none;
  width: 100%;
  margin-top: 24.6px;
  padding: 10.6px 8px 7px 8px;
  background-color: transparent;
  outline: none;
  border: none;
  color: black;
  border-bottom: 1px solid black;
}

.inpTag::placeholder {
  font-weight: 300;
  font-size: 0.938rem;
  font-family: Mulish;
  font-style: normal;
  color: #717171;
  text-align: left;
}

.rowInpDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 30px;
}

#widthIngTagDiv1 {
  width: 30%;
  min-width: 100px;
}

.year {
  outline: none;
  width: 100%;
  margin-top: 24.6px;
  color: black;
  padding: 10px;
  border: 1px solid #717171;
  border-radius: 7px;
}
.year option {
  color: black;
}

.mobileno_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-top: 24.6px; */
}

.mobileno91 {
  margin-right: 7px;
  font-size: 13.5px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: #000;
  padding: 10.6px 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #616161;
  border-width: 1px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: not-allowed;
}

.mobileno_container input {
  margin-top: 0;
}

.CollegeInpmDIv {
  width: 100%;
  position: relative;
}

.DropDownmDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 5px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  box-shadow: 0px 1px 1px 1px grey;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
}

.btn {
  width: 100%;
  margin-top: 20px;
  padding: 7.3px;
  border-radius: 7.3px;
  border: black;
  background-color: black;
  font: mulish 19.8px;
  font-size: 19.8px;
  cursor: pointer;
}

.tandCDiv {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.acceptLabel {
  font-family: "Mulish", sans-serif;
  color: #000;
  cursor: pointer;
  margin-left: 7px;
  text-align: justify;
  width: 100%;
}

.acceptLabel a {
  color: #f45725;
  text-decoration: underline;
}
