.mDiv {
  color: #000;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 40%;
  height: 96%;
  margin: 2% 0px;
  z-index: 1;
  border-radius: 8px 0px 0px 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(4px);
  box-shadow: 10px 10px 100px rgba(161, 161, 161, 0.5);
  /* background-color: #ff0000; */
}
