.mDiv {
  position: fixed;
  right: 0px;
  top: -4.3%;
  bottom: -4.3%;
  margin: 2% 0px;
  border-radius: 8px 0px 0px 8px;
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3)
  );
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: all 0.3s;
  z-index: 3;
}

.mDivCon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.ArrowBackIcon {
  position: absolute;
  top: 20px;
  left: 30px;
  color: #fff;
  cursor: pointer;
}

.CreateProfile,
.Please {
  font-family: "Mulish", sans-serif;
  text-align: center;
}

.CreateProfile {
  font-size: 27px;
  font-weight: 600;
}

.Please {
  margin: 10px 0px;
  font-size: 13.5px;
  font-weight: 300;
}

.WhiteBackGround {
  margin: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.FormTag {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0px;
  margin-bottom: 30px;
}

.inpTag {
  outline: none;
  width: 100%;
  margin-top: 24.6px;
  padding: 10.6px 12px;
  background-color: transparent;
  outline: none;
  border: none;
  color: black;
  border-bottom: 1px solid black;
}

.inpTag::placeholder {
  font-weight: 300;
  font-size: 0.938rem;
  font-family: Mulish;
  font-style: normal;
  color: black;
  text-align: left;
}

.rowInpDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
}

.year {
  outline: none;
  width: 100%;
  margin-top: 24.6px;
  color: black;
  padding: 10px;
  border: 1px solid #717171;
  border-radius: 7px;
}
.year option {
  color: black;
}
