.mDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://uploads-ssl.webflow.com/629d87f593841156e4e0d9a4/63aeb74c910c7070ebca8b75_image-23.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}

.mtMDiv {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupErrDiv {
  font-size: 14px;
}

.glassDiv {
  margin-top: 221px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  padding: 20px 70px 44px 70px;
  width: 70%;
  max-width: 44%;
  margin-bottom: 48px;
}

.FED {
  text-align: center;
  font-family: rubik;
  font-style: normal;
  text-shadow: 1px 0.496831px 1px #f45725;
  font-size: 37px;
  font-weight: 700;
}

.wFFFDiv {
  margin-top: 30.8px;
  padding: 30px 57px;
  padding-bottom: 77.5px;
  background-color: white;
  border-radius: 16.2px;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.helloDiv {
  color: black;
  font-size: 27px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}

.plsDiv {
  margin-top: 3.8px;
  color: black;
  font-size: 13.5px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}

.googleDiv {
  margin: 30px 0px;
  border: 1px solid black;
  width: 100%;
  border-radius: 10.8px;
  padding: 12.8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.googleText,
.OrText {
  font-size: 13.5px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}

.googleText {
  text-align: center;
  color: black;
}

.OrText {
  margin-top: 22.5px;
  text-align: center;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.9px;
  width: 100%;
}

.inpTag {
  width: 100%;
  margin-top: 24.6px;
  padding: 7px 0px 7px 7px;
  background-color: transparent;
  outline: none;
  border: none;
  color: black;
  border-bottom: 1px solid black;
}

.inpTag::placeholder {
  font-weight: 300;
  font-size: 0.938rem;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  text-align: left;
}

.hrs {
  width: 100%;
  height: 1px;
}

.btn {
  width: 100%;
  margin-top: 42.15px;
  padding: 7.3px;
  border-radius: 7.3px;
  border: black;
  background-color: black;
  font-family: "Mulish", sans-serif;
  font-size: 19.8px;
  cursor: pointer;
}

.member {
  margin-top: 19.8px;
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 13.5px;
}

.nameInpDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 15px;
  width: 100%;
}

.spn {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.063rem;
  color: #f45725;
  text-decoration: underline;
}

.spn:hover {
  text-decoration: none;
}

.year {
  outline: none;
  width: 100%;
  margin-top: 24.6px;
  color: black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.year option {
  color: black;
}

.modal {
  background: black;
  text-align: center;
  align-items: center;
  height: 250px;
  width: 400px;
  position: fixed;
  top: 40%;
  border-radius: 5%;
}

.modalcontent h2 {
  font-family: "Rubik", sans-serif;
  padding-top: 20px;
}

.modalcontent h3 {
  font-family: "Rubik", sans-serif;
  padding-top: 10px;
}

.ok {
  margin-top: 40px;
  width: 90px;
  height: 30px;
  background-color: #f45725;
  border: none;
  border-radius: 6%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.modalcontent img {
  width: 200px;
  margin-top: -60px;
}

.mobileno_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 24.6px;
}

.mobileno91 {
  margin-right: 7px;
  font-size: 13.5px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: #000;
  padding: 10.6px 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #616161;
  border-width: 1px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: not-allowed;
}

.mobileno_container input {
  margin-top: 0px;
}

.CollegeInpmDIv {
  position: relative;
}

.DropDownmDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 5px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  box-shadow: 0px 1px 1px 1px grey;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
}

.tandCDiv {
  width: 120%;
  margin-top: 20px;
  text-align: center;
  margin-left: -10%;
}

.acceptLabel {
  font-family: "Mulish", sans-serif;
  color: #000;
  cursor: pointer;
  margin-left: 7px;
  text-align: justify;
  width: 100%;
}

.acceptLabel a {
  color: #f45725;
  text-decoration: underline;
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .glassDiv {
    width: 50%;
    max-width: 50%;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  .glassDiv {
    width: 60%;
    max-width: 60%;
  }
}

@media (max-width: 800px) and (min-width: 760px) {
  .glassDiv {
    width: 65%;
    max-width: 65%;
  }
}

@media (max-width: 760px) and (min-width: 530px) {
  .glassDiv {
    width: 70%;
    max-width: 70%;
    padding: 15px 40px 40px 40px;
  }
}

@media (max-width: 530px) {
  .glassDiv {
    width: 80%;
    max-width: 80%;
    padding: 15px 40px 40px 40px;
  }

  .wFFFDiv {
    margin-top: 30.8px;
    padding: 35px 35px;
  }
}

@media (max-width: 400px) {
  .glassDiv {
    width: 100%;
    max-width: 100%;
    padding: 15px 40px 40px 40px;
  }

  .wFFFDiv {
    margin-top: 30.8px;
    padding: 30px 30px;
  }
}
