.slick-prev{
  left:0px !important;
  z-index: 1 !important;
}
  
.slick-next{
  right: 25.5px !important;
}
.slick-prev:before, .slick-next:before{
  font-family: 'Times New Roman';
  background-color: black;
  font-size: 24px;
  font-weight: bold;
  padding: 16px;
  color: white;
}
.slick-prev:before{
  content: '❮' !important;
}
.slick-next:before{
  content: '❯' !important;

}
.slick-prev:hover:before,.slick-next:hover:before{
  color: #f45725;
}
  

.slick-dots li.slick-active button:before{
  color: white !important;
}

.slick-dots{
  display: flex !important;
  bottom: 200px !important;
  margin-left: 50px !important;
  background-color: transparent !important;
  width: fit-content;
}

.slick-dots li{
  background-color: transparent !important;
}

.slick-dots li button:before{
  font-size: 16px !important;
  position: relative !important;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  color: white !important;
}

@media only screen and (max-width: 650px) {
  .slick-dots{
    bottom: 60px !important;
    margin-left: 30px !important;
  }

  .slick-dots li button:before{
    font-size: 12px !important;
  }
}

/* @media only screen and (max-width: 350px){
  .slick-dots li button:before{
    font-size: 10px !important;
  }
  .slick-dots{
    bottom: 250px !important;
    margin-left: 30px !important;
  }
}

@media only screen and (max-width: 400px) and (min-width: 350px){
  .slick-dots li button:before{
    font-size: 12px !important;
  }
  .slick-dots{
    bottom: 250px !important;
    margin-left: 30px !important;
  }
}

@media only screen and (max-width: 450px) and (min-width: 400px){
  .slick-dots li button:before{
    font-size: 12px !important;
  }
  .slick-dots{
    bottom: 250px !important;
    margin-left: 30px !important;
  }
} */

/* @media only screen and (max-width: 800px) and (min-width: 450px){
  .slick-dots li button:before{
    top: -240px !important;
    left: -285px !important;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 800px){
  .slick-dots li button:before{
    top: -240px !important;
    left: -410px !important;
  }
} */