.mobileNav {
    display: none;
    background-color: #1e1e1e;
}

#blank,
#mobileNavList,
.mobileNavClass {
    display: none;
}

.Cross {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #1e1e1e;
    font-size: 24px;
    margin-top: -7px;
    transition: all 0.3s;
    font-family: "Manrope", sans-serif;
    font-weight: 900;
}

@media only screen and (max-width: 650px) {
    .mobileNav {
        width: 100%;
        position: fixed;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    #mobileNavCon {
        margin: 10px 20px;
        width: 100%;
        background-color: #1e1e1e;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.3s;
    }

    .hamburger p {
        background-color: transparent;
        font-size: 24px;
        margin-top: -7px;
        transition: all 0.3s;
    }

    #bur1,
    #bur2,
    #bur3 {
        border-radius: 5px;
        background-color: #fff;
        height: 2px;
    }

    #bur1 {
        width: 100%;
        margin-top: 4px;
        margin-bottom: 5px;
    }

    #bur2 {
        width: 75%;
        margin-bottom: 5px;
    }

    #bur3 {
        width: 50%;
    }

    .LogoDiv,
    .LogoDiv img,
    .LogoFED {
        background-color: transparent;
    }

    .LogoDiv img {
        width: 28px;
        height: 28px;
    }

    .LogoFED {
        font-size: 24px;
        line-height: 28.44px;
    }

    .mobileNavClass {
        font-family: "Manrope", sans-serif;
        position: fixed;
        top: 48px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: all 0.5s;
        transition-delay: 0.3s;
        z-index: 3;
    }

    #mobileNavList {
        display: flex;
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    #blank {
        display: flex;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
    }

    #navtoggleDiv {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mobileNavListChild {
        margin-left: 20px;
        margin-top: 37px;
        width: 80%;
    }

    .liTag {
        font-weight: 700;
        margin-bottom: 30px;
    }

    .mobileList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}