#CloseIcon {
  top: 30px;
  right: 30px;
  z-index: 0;
  cursor: pointer;
  align-self: self-end;
}

.loadCenter {
  display: flex;
  justify-content: center;
}

.superscript {
  vertical-align: super;
  font-size: smaller;
  color: #fff;
}

.viewevents {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  gap: 20px 30px;
  overflow-y: scroll;
  padding-right: 10px;
  /* margin-left: 10px; */
  /* margin-right: 0px; */
  width: 90%;
  /* height: 800px; */
  /* row-gap: 30px; */
  /* column-gap: 0px; */
  padding-bottom: 120px;
}

.viewevents::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.2rem;
}

.viewEventss {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.deleteMemberBtn {
  color: #fff;
  font-size: 15px;
  font-family: Mulish;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 6px;
  background: #f45725;
  border: none;
  height: 40px;
  width: fit-content;
  min-width: 120px;
}

.modal .td {
  color: #fff;
  font-size: 18px;
  font-family: Mulish;
  text-align: center;
}

.modal .th {
  padding-bottom: 15px;
}

.modal .table {
  table-layout: fixed;
  font-size: 15px;
  font-family: Mulish;
  margin: 20px;
  width: fit;
  border-radius: 6px;
}

.modal .table,
.td,
.th {
  border: 2px solid white;
  border-collapse: collapse;
  padding: 10px;
}

.modal .tr {
  vertical-align: middle;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0e0e0e;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 80%;
  width: 50%;
  box-shadow: 0 6px 6px 0 black, 0 6px 10px 0 white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* backdrop-filter: blur(5px); */
}

/* Media queries for responsiveness */

/* @media (max-width: 1408px) {
  .viewevents {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media (max-width: 1008px) {
  /* .viewevents {
    grid-template-columns: repeat(1, 1fr);
    width: 120%;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: 0px;
    row-gap: 0px;
    column-gap: 30px;
  } */

  @media (max-width: 768px) {
    .modal {
      max-width: 90%;
      width: auto;
      padding: 15px;
    }
  }

  .viewevents::-webkit-scrollbar {
    width: 0rem;
    height: 0rem;
  }

  .viewEventDets {
    margin-left: 40px;
  }

  .fullPage {
    align-items: flex-start;
  }
}
