/*.LinkStyle {
    text-decoration: none;
    color: inherit;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  /* .BodyDiv {
    background-image: url(./Img/background.png);
    background-attachment: fixed;
    background-size: cover;
  } 
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    padding: 0px 20px;
    background: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(161, 161, 161);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
  }
  
  .active {
    color: #f56692;
  }*/
/*new branch*/
* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.main {
  background-image: url(https://feddeploy.pages.dev/Img/image-23.png);
  text-align: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  padding-top: none;
}
.ha1 {
  font-size: 50px;
  text-align: center;
  align-items: center;
  font-weight: bolder;
  font-family: "Manrope", sans-serif;
  padding-top: 30px;
  padding-bottom: 50px;
}
.about {
  padding-top: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.005em;
  margin-bottom: 90px;
}
.ha2 {
  color: red;
  font-size: 30px;
  text-align: center;
  align-items: center;
  font-weight: bolder;
  font-family: "Manrope", sans-serif;
}
.why-how-what {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
  width: 80%;
  margin: 0 auto;
}
.why-how-what > div {
  background-color: aliceblue;
  border-radius: 10%;
  text-align: center;
  align-items: center;
  margin-bottom: 100px;
}
