@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  color: #fff;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.LinkStyle {
  text-decoration: none;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  padding: 0px 20px;
  background-color: #0f0e0e;
}

::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(222, 222, 222);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f0e0e;
}

.pageExt {
  max-width: 1750px;
  width: 100%;
  background-color: #e5e5e5;
}

.active {
  color: #f45725;
}

#showDropMenuClg {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

#hideDropMenuClg {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#showCreate {
  width: 100%;
  pointer-events: all;
}

#hideCreate {
  width: 0;
  pointer-events: none;
}

.mEventsDiv {
  margin: 90px 0px 0px 0px;
}

@media only screen and (max-width: 650px) {
  .mEventsDiv {
    margin: 48px 0px 0px 0px;
  }
}
