.eventcards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: 10px;
    justify-content: center;
    background-color: rgb(60, 58, 58);
}
.event_img{
    height: auto;
    width: 100%;
}
.event_img img{
    height: auto;
    width: 100%;
}
.event_content{
    text-align: center;
    margin: 6px;
}
.event_content h2{
    font-size: 20px;
}